body{
    margin: 0;
    padding: 0;
}
.nav-link{
    text-transform: capitalize;
    color: white;
}
hr{
    height: 5px;
    color: royalblue;
    border-radius: 50%;
}
ul li{
    list-style-type: none;
    text-transform: uppercase; 
    color: rgba(0,0,0,0.5);
    letter-spacing: 1px;
}
.row{
    margin-bottom: 20px;
}




/*-------- responsive --------- */
@media(min-width: 992px){

}

@media(min-width: 768px) and (max-width:991px){

}
@media(min-width: 575px) and (max-width:767px){
    
}
@media(min-width: 480px) and (max-width: 574px){
    
}
@media (min-width:321px) and (max-width:479px){
    
}
@media (max-width:320px){
    
}