body{
    margin: 0;
    padding: 0;
    font-weight: 100;
    letter-spacing: 1px;
}
.nav-link{
    color: white;
    text-transform: capitalize;
}
.card-body{
    background: rgba(0,0,0,0.1)
}
form label{
    font-weight: normal;
}